doctype html
html(lang="en")
  head
    meta(charset="UTF-8")    
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin="anonymous", referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Home Page
  body
    nav#navbar
      a(href="serv")
        i.fa-solid.fa-briefcase
        | Services
      a(href="contact")
        i.fa-solid.fa-address-book
        | Contact us

    


    section.hero
      div
        h1.menu-title Benvenuto
        div.d-grid.gap-2.d-md-block#hbtn
          button.btn.btn-primary.hero-button Click to Reserve
    



    section.about-us#about-us
      div.container
        div.row
          div.col-lg-6.col-md-12
            img#img1.img-fluid(src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/09/16/9f/the-italian-restaurant.jpg?w=1200&h=-1&s=1", alt="About Us")
          div.col-lg-6.col-md-12
            p Welcome to Buon Appetito!, where the vibrant flavors of Italy come alive! Nestled in the heart of the city, our cozy and inviting Italian restaurant offers an authentic culinary experience that transports you straight to the rustic countryside of Italy. Our chefs craft each dish with love and passion, using only the freshest ingredients and traditional recipes passed down through generations. From our mouthwatering pasta and wood-fired pizzas to our rich and aromatic sauces, every bite promises to be a delightful journey. Join us at Buon Appetito! for a memorable dining experience that captures the essence of Italy in every dish.
    













    footer#footer.text-center
      div.container
        ul.list-unstyled
          li Number: 93862454
          li Email: ghaithmh03@gmail.com
          li 
            a(href="https://www.instagram.com/ghaith.m.h/?hl=fr")
              i.fa-brands.fa-instagram

