doctype html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin="anonymous", referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Our Menu
  body
    nav#navbar
      
      a(href="home")
        i.fa-solid.fa-house
        | home page
      a(href="contact")
        i.fa-solid.fa-address-book
        | Contact us




    section.menu
      div.menu-title Our Menu
      div.container
        div.row
          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c1")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211140233-03-classic-italian-dishes.jpg?q=w_1110,c_fill/f_webp", alt="Rigatoni alla Carbonara")
              div.card-body
                p.card-text Rigatoni alla Carbonara<br> Fresh rigatoni alla carbonara with egg, parmesan cheese, pork cheek, olive oil, and black pepper.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c2")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211140254-04-classic-italian-dishes.jpg?q=w_1110,c_fill/f_webp", alt="Trofie al Pesto")
              div.card-body
                p.card-text Trofie al Pesto<br> Trofie al pesto is delicious with a rich, creamy sauce.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c3")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211141204-05-classic-italian-dishes.jpg?q=w_1160,c_fill/f_webp", alt="Lasagne")
              div.card-body
                p.card-text Lasagne<br> Rich layers of lasagne satisfy the soul.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c4")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211141651-12-classic-italian-dishes.jpg?q=w_1160,c_fill/f_webp", alt="Risotto alla Milanese")
              div.card-body
                p.card-text Risotto alla Milanese<br> Saffron gives Risotto alla Milanese its golden glow.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c5")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211141826-15-classic-italian-dishes.jpg?q=w_1110,c_fill/f_webp", alt="Caponata")
              div.card-body
                p.card-text Caponata<br> You'll ask for more vegetables when they're in caponata.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c6")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211142824-20-classic-italian-dishes.jpg?q=w_1160,c_fill/f_webp", alt="Coda alla Vaccinara")
              div.card-body
                p.card-text Coda alla Vaccinara<br> The best versions of this dish take two days to cook.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c7")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211142532-18-classic-italian-dishes.jpg?q=w_1160,c_fill/f_webp", alt="Linguine allo Scoglio")
              div.card-body
                p.card-text Linguine allo Scoglio<br> This linguine dish showcases fresh catch from the sea.

          div.col-lg-3.col-md-4.col-sm-6
            div.card(id="c8")
              img.card-img-top(src="https://media.cnn.com/api/v1/images/stellar/prod/210211142942-22-classic-italian-dishes.jpg?q=w_1160,c_fill/f_webp", alt="Malloreddus alla Campidanese")
              div.card-body
                p.card-text Malloreddus alla Campidanese<br> The best versions of this dish take two days to cook.

        div.d-grid.gap-2.d-md-block#hbtn2
          button.btn.btn-primary.hero-button Click to Order






    footer#footer.text-center
      div.container
        ul.list-unstyled
          li Number: 93862454
          li Email: ghaithmh03@gmail.com
          li 
            a(href="https://www.instagram.com/ghaith.m.h/?hl=fr")
              i.fa-brands.fa-instagram